<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
  <a href="/public/test.html">test.htmlへのリンク</a><br>
  <a href="/public/input01.html">背番号ごとに選手を表示する（app6.jsを起動してからクリックしてください）</a><br>
  <a href="/db">dbへのリンク</a>
</body>
</html>